<module name="com.liferay.portal" xmlns="urn:jboss:module:1.8">
  <resources>
    <resource-root path="com.liferay.petra.concurrent.jar" />
    <resource-root path="com.liferay.petra.executor.jar" />
    <resource-root path="com.liferay.petra.function.jar" />
    <resource-root path="com.liferay.petra.io.jar" />
    <resource-root path="com.liferay.petra.lang.jar" />
    <resource-root path="com.liferay.petra.memory.jar" />
    <resource-root path="com.liferay.petra.nio.jar" />
    <resource-root path="com.liferay.petra.process.jar" />
    <resource-root path="com.liferay.petra.reflect.jar" />
    <resource-root path="com.liferay.petra.string.jar" />
    <resource-root path="com.liferay.registry.api.jar" />
    <resource-root path="com.liferay.petra.sql.dsl.api.jar" />
    <resource-root path="com.liferay.petra.sql.dsl.spi.jar" />
    <resource-root path="portal-kernel.jar" />
    <resource-root path="portlet.jar" />
    <resource-root path="hsql.jar" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.mail.api" />
    <module name="javax.servlet.api" />
    <module name="javax.servlet.jsp.api" />
    <module name="javax.transaction.api" />
  </dependencies>
</module>
